<html lang="en">
<body>
<form method="get">
    <label for="name" class="ml-9">Name, Surname</label>
    <input type="text" id="name" name="name" class="bg-gray-200 focus:bg-white border-2 border-red-500 "><br><br>

    <label for="code" class="ml-9">Person code</label>
    <input type="text" id="code" name="code" class="bg-gray-200 focus:bg-white border-2 border-red-500 ml-5"><br><br>

    <label for="description" class="ml-9">Description</label>
    <input type="text" id="description" name="description" class="bg-gray-200 focus:bg-white border-2 border-red-500 ml-5"><br><br>

    <label for="age" class="ml-9">Age</label>
    <input type="text" id="age" name="age" class="bg-gray-200 focus:bg-white border-2 border-red-500 ml-16"><br><br>

    <label for="address" class="ml-9">Address</label>
    <input type="text" id="address" name="address" class="bg-gray-200 focus:bg-white border-2 border-red-500 ml-6"><br><br>

    <button type="submit" formmethod="post" class="ml-32 bg-red-500 hover:bg-red-700 p-2">Submit</button>
</form>
</body>
</html>