<!DOCTYPE html>
<html lang="en">

<body>
Hello,<br>
{{ person[0].name|title }} <br>
<form>
    <button type="submit" name="logout" formmethod="post" formaction="/" class="ml-32 bg-red-500 hover:bg-red-700 p-2">Logout</button>
</form>
</body>
</html>
