<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Person Registry</title>
</head>
<body>
<h2 class="text-5xl font-bold ml-9">Person Registry</h2>
<div class="bg-gray-50">
    <div class="max-w-7xl mx-left py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">
                <a href="/add" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
                    Add people
                </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
                <a href="/update" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
                    Update people
                </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
                <a href="/delete" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
                    Delete people
                </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
                <a href="/searchby" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
                    Search people
                </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
                <a href="/all" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
                    All people
                </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
                <a href="/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
                    Homepage
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>