<!DOCTYPE html>
<html lang="en">
<body>
{% if auth == false %}
<form method="post" target="_self">
    <label for="id" class="ml-9">Id</label>
    <input type="text" id="id" name="id" class="bg-gray-200 focus:bg-white border-2 border-red-500 "><br><br>
    <button type="submit" class="ml-32 bg-red-500 hover:bg-red-700 p-2">Submit</button>
</form>
{% else %}
    <form method="post" target="_self" >
        <label for="tokens" class="ml-9">Token</label>
        <input type="text" id="tokens" name="tokens" class="bg-gray-200 focus:bg-white border-2 border-red-500 "><br><br>
        <input type="hidden" id="id" name="id" value="{{ id }}" >
        <button type="submit" formaction="/loginverify" class="ml-32 bg-red-500 hover:bg-red-700 p-2">Submit</button>
        <br>
        {{ message }} <br>
        {{ token }}
    </form>
    </body>
{% endif %}
</html>
