<html lang="en">
<body>
<form method="get">
    <label for="name" class="ml-9">Search by age:</label>
    <input type="text" id="name" name="age" class="bg-gray-200 focus:bg-white border-2 border-red-500 "><br><br>
    <button type="submit" formmethod="post" class="ml-32 bg-red-500 hover:bg-red-700 p-2">Submit</button>
</form>
</body>
</html>