<html lang="en">
<body>
<form method="post">
    <label for="search" class="ml-9">Search by {{ type }}:</label>
    <input type="text" id="search" name="search" class="bg-gray-200 focus:bg-white border-2 border-red-500 "><br><br>
    <input type="hidden" name="type" value="{{ type }}"/>
    <button type="submit" formaction="/found" class="ml-32 bg-red-500 hover:bg-red-700 p-2">Submit</button>
</form>
</body>
</html>