<html lang="en">
<body>
<h2 class="ml-10">Search by:</h2>
<form method="post">
    <button type="submit" name="type" value="name" formaction="/search" class="ml-10 bg-green-200 hover:bg-red-700 p-2">Name</button>
    <button type="submit" name="type" value="age" formaction="/search" class=" bg-green-200 hover:bg-red-700 p-2">Age</button>
    <button type="submit" name="type" value="address" formaction="/search" class=" bg-green-200 hover:bg-red-700 p-2">Address</button>
    <button type="submit" name="type" value="code" formaction="/search" class=" bg-green-200 hover:bg-red-700 p-2">ID</button>
</form>
</body>
</html>
