<html lang="en">
<body>
<form method="get">
    <label for="id" class="ml-9">Search by id</label>
    <input type="text" id="id" name="data[]" class="ml-7 bg-gray-200 focus:bg-white border-2 border-red-500 "><br><br>
    <label for="desc" class="ml-9">Add description</label>
    <input type="text" id="desc" name="data[]" class="bg-gray-200 focus:bg-white border-2 border-red-500 "><br><br>
    <button type="submit" formmethod="post" class="ml-32 bg-red-500 hover:bg-red-700 p-2">Submit</button>
</form>
</body>
</html>